.form {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.form .form-title {
  font-size: 20px;
  color: white;
  margin:-50px -10px 20px -10px;
}

#login-form {
  border-radius: 10px;
  border: 2px solid black;
  border-top-width: 35px;
  animation: homepage-anim 1s;
  background-color: white;

}

@keyframes homepage-anim {
  from {opacity: 0;
  }
  to {opacity: 1;
  }
}
