.img {
  max-height: 140%;
  width: auto;
  max-width: 140%;
}

.playerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
